<form method="post" action="/sign-up" class="p-8 md:max-w-md max-w-xs mx-auto bg-stone-100 mt-20 form-border border border-cyan-700">
  <div class="text-center text-cyan-700 font-bold text-xl" >Sign Up</div>
  <div class="text-center text-cyan-700 text-sm font-bold">Enter your name and choose a password to create your account</div>
  <div class="form-control">
    <input type="text" name="firstname" id="firstname" value="<%= values.firstname %>" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="First Name">
    <% if (validationMessages.firstname) { %>
          <span style="color: red"><%= validationMessages.firstname %></span> 
    <% } %>
  </div>
  <div class="form-control">
    <input type="text" name="lastname" id="lastname" value="<%= values.lastname %>" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Last Name">
    <% if (validationMessages.lastname) { %>
          <span style="color: red"><%= validationMessages.lastname %></span> 
    <% } %>    
  </div>
  <div class="form-control">
    <input type="text" name="email" id="email" value="<%= values.email %>" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Email Address">
    <% if (validationMessages.email) { %>
          <span style="color: red"><%= validationMessages.email %></span> 
    <% } %>
  </div>
    <div class="form-control">
    <input type="password" name="password" id="password" value="<%= values.password %>" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Password">
    <% if (validationMessages.password) { %>
          <span style="color: red"><%= validationMessages.password %></span>
    <% } %>
  </div>
  <div class="form-control mt-4">
    <button type="submit" class="btn btn-base-200 bg-cyan-700 text-white text-xl font-bold hover:bg-cyan-900">Sign up today</button>
  </div>
</form>