<form method="post" action="/mealkits/edit/<%= mealkit._id %>" enctype="multipart/form-data" class="p-8 md:max-w-md max-w-xs mx-auto bg-stone-100 mt-20 form-border border border-cyan-700">
  <div class="text-center text-cyan-700 font-bold text-xl" >Edit Mealkit</div>
  <div class="text-center text-cyan-700 text-sm font-bold">Enter the following information for the selected mealkit:</div>
  <div class="form-control">
    <input type="text" name="title" id="title" value="<%= mealkit.title %>" required class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Title">
  </div>
  <div class="form-control">
    <input type="text" name="includes" value="<%= mealkit.includes %>" required id="includes" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Includes">
  </div>
  <div class="form-control">
    <textarea class="textarea textarea-bordered border-cyan-700 border rounded-none mt-3" name="description" required id="description" placeholder="Description"><%= mealkit.description %></textarea>
  </div>
  <div class="form-control">
    <input type="text" name="category" value="<%= mealkit.category %>" required id="category" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Category">
  </div>
  <div class="form-control">
    <input type="number" step="0.01" value="<%= mealkit.price %>" required name="price" id="price" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Price">
  </div> 
  <div class="form-control">
    <input type="number" name="cookingTime" value="<%= mealkit.cookingTime %>" required id="cookingTime" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Cooking Time">
  </div> 
  <div class="form-control">
    <input type="number" name="servings" value="<%= mealkit.servings %>" required id="servings" class="input input-bordered border-cyan-700 border rounded-none mt-3" placeholder="Servings">
  </div>  
  <div class="form-control mt-5">
    <input type="file" name="imageUrl" required value="<%= mealkit.imageUrl %>" id="imageUrl" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
  </div> 
<% if (fileTypeWarning.length !== 0) { %>
        <span style="color: red"><%= fileTypeWarning %></span> 
<% } %>
  <div class="form-control">
    <label class="label cursor-pointer">
        <span class="label-text text-cyan-700 lg:text-lg">Featured mealkit</span> 
        <% if (mealkit.featuredMealKit) {%>
            <input type="checkbox" name="featuredMealKit" id="featuredMealKit" value="Yes"  checked class="checkbox checkbox-primary" />
        <% } else {%>
            <input type="checkbox" name="featuredMealKit" id="featuredMealKit" class="checkbox checkbox-primary" />
        <% } %>
    </label>
  </div>
  <div class="form-control mt-4">
    <button type="submit" class="btn btn-base-200 bg-cyan-700 text-white text-xl font-bold hover:bg-cyan-900">Confirm</button>
  </div>
</form>